html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

#mainview {
    width: 860px;
    height: 850px;
    margin: 10px 0;
    padding: 10px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#mainview> :nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

#leftweight,
#rightweight {
    background-color: aquamarine;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid green;
}

#leftweight>:first-child,
#rightweight>:first-child {
    color: grey;
    font-size: 20px;
}

#leftweight>:nth-child(2),
#rightweight>:nth-child(2) {
    font-size: 30px;
}

#gameview {
    height: 60%;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#holder {
    position: absolute;
    top: 70%;
    left: 50%;

    width: 0;
    height: 0;

    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid black;

    transform: translate(-50%, -50%);
}

#plank {
    position: absolute;
    top: 65%;
    left: 50%;

    width: 400px;
    height: 20px;
    background-color: brown;

    transform-origin: center;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-out;
}

.ball {
    position: absolute;
    border-radius: 300px;
    background-color: red;
}

.ball>* {
    pointer-events: none;
}

#button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: aliceblue;
    width: 200px;
    height: 40px;
}

#button:hover {
    cursor: pointer;
}

#turret {
    display: flex;
    flex-direction: row;
}

#turret {
    position: absolute;
    background-color: white;
    top: 0px;
    left: calc(50% - 50px);
    align-items: center;
    transition: transform 0.2s ease-out;
    transform-origin: 0%;
    background-color: transparent;
    pointer-events: none;
}

#turret>:first-child {
    width: 50px;
    height: 30px;
    background-color: black;
    border-radius: 10px 0px 0px 10px;
}

#turret>:nth-child(2) {
    width: 10px;
    height: 35px;
    background-color: black;
}

#turret>:nth-child(3) {
    width: 500px;
    height: 5px;
    background-color: rgba(52, 235, 235, 0.4);
}